<!-- SCRIPT FOR MS SPEECH SDK !-->
<script src="/js/microsoft.cognitiveservices.speech.sdk.bundle.js"></script>

<canvas></canvas>

<div class="bg-modal">
    <div class="modal-content">
        <div class="close">+</div>
        <form id="name-form" action="#">
            <input id="name" type="text" placeholder="Screen Name">
            <button id="send" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<div id="blob-game"></div>
<div id="end-game" class="hidden">
    <a href="/"><button type="button" class="btn btn-primary">End the game</button></a>
</div>
</div>

<div id="create-game" class="content">
    <div class="container">
        <div class="jumbotron py-0">
            <div class="row">
                <div class="col-md-4 mt-2">
                    <a></a><button id="join-btn" class="btn btn-primary">Join Game</button></a>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4 mt-2">
                    <div class="card">
                        <img id="stage_image" class="card-img-top" src="/images/grass.png" alt="Map image">
                        <div class="card-body">
                            <p id="stage_name" class="card-text text-center">Lovely Field</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <h2 class="text-center">Blobs in queue!</h2>
                </div>
                <div class="col-md-4"></div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-3">
                    <div class="card container">
                        <div class="card-title">
                            <div id="player-one-options" class="hidden">
                                <div class="row">
                                    <div class="col-md-3 p-1">
                                        <option class="color-btn" id="p1-red"></option>
                                    </div>
                                    <div class="col-md-3 p-1">
                                        <option class="color-btn" id="p1-blue"></option>
                                    </div>
                                    <div class="col-md-3 p-1">
                                        <option class="color-btn" id="p1-green"></option>
                                    </div>
                                    <div class="col-md-3 p-1">
                                        <option class="color-btn" id="p1-yellow"></option>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <img id="player-one-img" class="blob-img" src="/images/blueBlob.jpg" alt="">
                                </div>
                            </div>
                            <p id="player_one_name" class="card-text text-center">Waiting for player...</p>
                            <p class="player_one_keypress"></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card container">
                        <div class="card-title">
                            <div id="player-two-options" class="hidden">
                                <div class="row">
                                    <div class="col-md-3 p-1">
                                        <option class="color-btn" id="p2-red"></option>
                                    </div>
                                    <div class="col-md-3 p-1">
                                        <option class="color-btn" id="p2-blue"></option>
                                    </div>
                                    <div class="col-md-3 p-1">
                                        <option class="color-btn" id="p2-green"></option>
                                    </div>
                                    <div class="col-md-3 p-1">
                                        <option class="color-btn" id="p2-yellow"></option>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <img id="player-two-img" class="blob-img" src="/images/blueBlob.jpg" alt="">
                                </div>
                            </div>
                            <p id="player_two_name" class="card-text text-center">Waiting for player...</p>
                            <p class="player_two_keypress"></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row pt-2 pb-1">
                <div class="col-md-2">
                    <a href="/"><button type="button" class="btn btn-primary">Return to menu</button></a>
                </div>
                <div class="col-md-8"></div>
                <div class="col-md-2">
                    <a href="#"><button id="start-btn" type="button" class="btn btn-primary hidden">Start Game</button></a>
                </div>
            </div>
        </div>
    </div>
</div>






<!-- SCRIPT FOR AJAX !-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<!-- SCRIPT FOR BAD SPEECH RECOG !-->
{{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script> --}}
<script src="/js/microsoft.cognitiveservices.speech.sdk.bundle.js"></script>
<!-- SCRIPT FOR INDEX !-->
<script src="/js/index.js"></script>
<!-- SCRIPT FOR CANVAS !-->
<script src="/js/canvas.js"></script>
<!-- SCRIPT FOR MODAL!-->
<script src="/js/modal.js"></script>
<!-- SCRIPT FOR SOCKET.IO !-->
<script src="/socket.io/socket.io.js"></script>
<!-- SCRIPT FOR IO-LISTENERS !-->
<script src="/js/io-listeners.js"> </script>