body, html { margin: 0; }

canvas {
    z-index: -1;
    position: fixed;
};

.content {
    z-index: 1;
}

#blob-game {
    z-index: 3;
}

#demo-gif {
    height: 100px;
    width: 100px;
}

.bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    display: none;
}

.modal-content {
    width: 300px;
    height: 300px;
    background-color: #ffffff;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    position: relative;
}

input {
    width: 50%;
    display: block;
    margin: 15px auto;
}

.close {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}

.hidden {
    visibility: hidden;
}

#blob-image {
    width: 100%;
    height: 100%;
}




/*Style for blob color selector*/
#p1-red, #p2-red {
    background-color: red;
    cursor: pointer;
}

#p1-blue,  #p2-blue{
    background-color: blue;
    cursor: pointer;
}

#p1-green, #p2-green {
    background-color: green;
    cursor: pointer;
}

#p1-yellow, #p2-yellow {
    background-color: yellow;
    cursor: pointer;
}

/*Negate hover effects*/
/* .no-hover{
    pointer-events: none;
} */

.blob-img {
    width: 25%;
    height: 25%;
}